
<div class ="main">

<h2>Sign Up <span class="glyphicon glyphicon-paperclip"></span></h2>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>



<%= form_for @user  do |f| %>
    <div class ="form-group">
        <%= f.label :email, :class => "col-sm-2 control-label"%>
        <%= f.text_field :email, :autofocus => true, :required => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :password, :class => "col-sm-2 control-label" %>
        <%= f.password_field :password, :class =>'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, :class => "col-sm-3 control-label" %>
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>

    <%= f.submit "Sign up", :class =>"btn btn-danger" %>
    <% end %>
</div>
