

<h2>you are logged in as: <%= @user.name %></h2>
<p><%= link_to "edit your profile", edit_user_path %></p>


<div class = "user-show">
<p>you have posted these stories :</p>

<table style="width:100%" class="table-striped">

<% @user.stories.each do |story| %>
<tr>
  <td><%= link_to story.title, story_path(story.id) %></td>
  <td><%= link_to 'Edit', edit_story_path(@user) %> <%= link_to 'Delete', @user, :method => :delete, :data => { :confirm => "Are you sure?" } %></td>
  <% end %>
  </table>

</div>


<p><%= link_to "add more stories...", new_story_path %></p>
