<h1>Edit Story</h1>

<%= form_for @story do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true, :required => true %>
  <%= f.label :content %>
  <%= f.text_area :content, :required => true %>

  <%= f.submit "edit this story" %>
<% end %>
