
<div class ="story-show" >

<h1><%= @story.title %></h1>
<h3><%= @story.likes.count %> <span class="glyphicon glyphicon-glass"></span> </h3>
<p>created on <%= @story.created_at.strftime '%A %B %e, %Y' %></p>
<p>updated on <%= @story.updated_at.strftime '%A %B %e, %Y' %></p>
<p>location: <%= @story.address %></p>
<from ><%= @story.content %></form >


<% if @current_user.present?%>

  <% if @current_user.likes.where(:story_id => @story.id).empty? %>
    <%= link_to  "whisky", like_path(@story.id), :method => :post %>
  <% else %>
    <%= link_to "unwhisky", unlike_path(@story.id), :method => :post %>
  <% end %>
<% else %>
  <p><%= link_to("Log in to whiskey this story!", login_path) %> </p>
<% end %>

<% if @current_user.present? && @story.user_id == @current_user.id %>
  <%= link_to "Edit", edit_story_path(@story.id) %>
  <%= link_to "Delete Story", @story, method: :delete, data: { confirm: 'Are you sure?' }  %>
<% end %>

</div>
