<!DOCTYPE html>
<html>
<head>
  <title>Storiesforwhiskies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- <nav>
<a href="<%= root_path %>">Home</a>
<a href="<%= new_user_path  %>">New User</a>
</nav> -->



<nav  class="navbar navbar-inverse">
  <%= link_to 'HOME', root_path %>
  <% if @current_user.present? %>
    <%# if @current_user.admin? %>
      <%#= link_to "Users", users_path %>
    <%# end %>

    <!-- edit_use_path is static now, need to add a show page for this  -->
    <!-- <%= link_to "Edit Profile", edit_user_path %> -->

    <%= link_to "Logout", login_path, :method => :delete %>
    <%= link_to "my account", user_path(@current_user)%>
  <% else %>
    <%= link_to 'SIGN UP', new_user_path %>
    <%= link_to 'LOGIN', login_path %>
  <% end %>
</nav>

<div class = "container">
<%= yield %>
</div>

</body>
</html>
