<!DOCTYPE html>
<html>
<head>
  <title>Storiesforwhiskies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css"
         href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>

<!-- <nav>
<a href="<%= root_path %>">Home</a>
<a href="<%= new_user_path  %>">New User</a>
</nav> -->



<nav class= "navbar navbar-inverse ">
  <ul class = "nav navbar-nav">

  <li><%= link_to 'HOME', root_path %></li>
  <% if @current_user.present? %>

    <%# if @current_user.admin? %>
      <%#= link_to "Users", users_path %>
    <%# end %>

    <!-- edit_use_path is static now, need to add a show page for this  -->
    <!-- <%= link_to "Edit Profile", edit_user_path %> -->

    <li><%= link_to "Logout", login_path, :method => :delete %></li>
    <li><%= link_to "My account", user_path(@current_user)%></li>
  <% else %>
    <li><%= link_to 'SIGN UP', new_user_path %></li>
    <li><%= link_to 'LOGIN', login_path %></li>
  <% end %>
</ul>
</nav>

<div class = "container">
<%= yield %>
</div>

</body>
</html>
